*{
  padding: 0;
  margin:  0;
  box-sizing: border-box;
  font-family: 'Amatic SC';
  font-size: 1.1rem;
  font-weight: bold;
}

body {
    background:#6ca3a3;
    background-image: url('https://github.com/gitdagray/css_course/blob/main/16_lesson_starter/img/bubbles.png?raw=true');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 10%, 10%;
  }
  .container{
   /* z-index: 1; */
    font-size: 16px;
    background-color: #ffff;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em  2.4em rgba(30, 255, 0, 0.25);
  
  }

  #options_container {
    text-align: center;
    
  }
  #options_container h3{
    font-size: 1.2em;
  }
 
 
#options_container div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1.2em 0 2.4em 0;
}
#options_container button {
  padding: 0.6em 1.2em;
  border: 3px solid #000;
  background-color: #ffff;
  color: #000;
  border-radius: 0.3em;
  text-transform: capitalize;
  
}

#options_container button:disabled{
  
  border: 3px solid #808080;
  color: #808080;
  background-color: #efefef;

}
#options_container button.active{
background-color: #f4f4f4;
border: 3px solid #000;
color: #000;
}

button{
  cursor: pointer;
}

.letter_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6em;
}
#letter_container button{
  height: 1.4em;
  width: 1.7em;
  border-radius: 0.3;
  background-color: rgb(9, 247, 247),
  
}


.new_game_popup{
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
border-radius: 0.6em;
}

#user_input_section {
  display: flex;
  justify-content: center;
font-size: 1.8em;
margin: 0.6em 0 1.2em 0;
}

canvas{
display: block;
margin: auto;
border: 1px solid #6ca3a3;
}



.hide{
  display: none;
  }

  #result_text h2 {
font-size: 1.3em;
text-align: center;
  }
  #result_text p {
font-size: 1.25em;
margin: 10px;
text-align: center;
  }
  
  #new_game_btn {
    padding: 0.5em 1em;
    background-color: #ebd9d9;
    border: 3px solid #000000;
    color: #000000;
    border-radius: 0.2em;    
  }
  #new_game_btn:hover{
    transition: 0.25s ease;
    box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
    border-color: transparent;
    background-color: transparent;
  }
#new_game_btn:active{
  background-color: #ebd9d9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  








  svg#fish {
    top: 2em;
  }

  svg.fish{
    overflow:visible;
    
  }
  
  @-webkit-keyframes swim
  {
      0% {margin-left: -235px}
      90% {margin-left: 100%;}
      100% {margin-left: 100%;}
  }
  
  @keyframes swim
  {
      0% {margin-left: -235px}
      70% {margin-left: 100%;}
      100% {margin-left: 100%;}
  }
  
  .fish{
      width: 235px;
      height: 104px;
      margin-left: -235px;
      position: absolute;	
      animation: swim 20s;
      -webkit-animation: swim 20s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
  }
  
  svg #fish1,
  svg #fish2,
  svg #fish3,
  svg #fish4,
  svg #fish5,
  svg #fish6 {
  fill:#528484;
    
      -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  svg #fish2{
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s;
  }
  
  svg #fish3{
      animation-delay: 0.2s;
      -webkit-animation-delay: 0.2s;
  }
  
  svg #fish4{
      animation-delay: 0.4s;
      -webkit-animation-delay: 0.4s;
  }
  
  svg #fish5{
      animation-delay: 0.1s;
      -webkit-animation-delay: 0.1s;
  }
  
  svg #fish6{
      animation-delay: 0.3s;
      -webkit-animation-delay: 0.3s;
  }
  
  /**/
  @-moz-keyframes bounce {
    0%, 50%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -moz-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    75% {
      -moz-transform: translateY(-3px);
      transform: translateY(-3px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 50%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    75% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
  }
  @keyframes bounce {
    0%, 50%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    75% {
      -moz-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
  }


  @media (max-width: 450px){
    canvas {
     width: 98%;
  
    }
    #options_container button{
      width: 50%;
    }
  }